<html>
<style><%= stylesheet_link_tag 'home.css'%></style>
<header>
<h1>What's for Dinner?</h1>
<h2>A silly recipe generator made by Hillary Dunkley and Allison Adams (didn't do it)</h2>
</header>
<main>
<body>
<h3>This is a madlibs style recipe generator to help you when you have no idea what to make for dinner. Type in the ingredients in your kitchen and see what strange recipes you'll get!</h3>
<p id='button'><%= link_to "Let's get started", protein_path%></p>
</body>
</main>
</html>
